/* vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab: */

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'styles.scss';

#wrapper {
  position: relative;
  min-height: 100%;
  @include display(flex);
  @include flex-direction(column);
  @include transition-property (transform);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}

#main {
  @include transform(translate3d(0,0,0));
  @include flex(1);
  padding: 1.5rem;
}

#main-inner {
  max-width: 50em;
}

#footer, #header {
  @include transform(translate3d(0,0,0));
  padding: 1rem;
  font-weight: 400;
  background: $red;
  color: white;
  margin: 0;
  @include display(flex);
  @include align-items(center);
}

#footer > div {
  margin: 0 1rem 0 0;
}

#header .nav-text {
  margin-left: 1em;
}

#logo {
  cursor: pointer;
  @include display(flex);
  @include align-items(center);
  font-size: 2rem;
  padding: 0.25em;

  &.show-sidebar {
    background-color: $white;
    color: $black;
  }
}

#header-middle {
  @include flex(1);
}

#account, #settings {
  margin: 0 1rem;
}

#sidebar {
  padding: 0.5rem 1rem;
  -webkit-flow-from: sidebar;
  -ms-flow-from: sidebar;
  flow-from: sidebar;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: $black;
  color: white;
  left: -200px;
}

#menu-btn {
  margin-left: 1rem;
  font-size: 1rem;
}

#wrapper.show-sidebar {
  @include transform(translateX(200px));
}

#footer .fa {
  display: none;
}

@include media(max-width 35rem) {
  #footer .fa {
    display: inline;
  }

  #footer .nav-text {
    margin-left: 1em;
  }

  #footer {
    opacity: 0;
  }

  #footer > div, #account, #settings {
    -webkit-flow-into: sidebar;
    -ms-flow-into: sidebar;
    flow-into: sidebar;
    margin: 1rem 0;
  }
}
